.:{{ infra_server_dns_coredns_port }} {
    {% for zone in infra_server_dns_coredns_zones %}
    file /etc/coredns/db.{{ zone.name }} {{ zone.name }}
    {% endfor %}
    file /etc/coredns/db.root.rev {% for rev_zone in reverse_zones %}{{rev_zone}} {% endfor %}
    
    log
    forward . {{ infra_server_dns_coredns_forwarder }} {
        except {% for zone in infra_server_dns_coredns_zones %}{{ zone.name }} {% endfor %}
    }
}