$TTL 1h                 ; default expiration time of all resource records without their own TTL value
rhev.local.   IN  SOA   fedoradev.local. ppetrou.gmail.com. ( 2007120710 1d 2h 4w 1h )

100.1         IN  PTR   hypervisor.rhev.local.
120.1         IN  PTR   rhev-engine.rhev.local.


