$TTL 1h                 ; default expiration time of all resource records without their own TTL value
{{ name }}.   IN  SOA   {{ home_server_dns_coredns_server_name }}. {{ home_server_dns_coredns_admin_email }}. ( 2007120710 1d 2h 4w 1h )

{% for a_record in a_records %}
{{ a_record.ip.split('.')[3] }}.{{ a_record.ip.split('.')[2] }} IN PTR {{ a_record.name }}.{{ name }}.
{% endfor %}
