$ORIGIN {{ name }}.     ; designates the start of this zone file in the namespace
$TTL 1h                 ; default expiration time of all resource records without their own TTL value
{{ name }}.   IN  SOA   {{ infra_server_dns_coredns_server_name }}. {{ infra_server_dns_coredns_admin_email }}. ( 2007120710 1d 2h 4w 1h )

{% for a_record in a_records %}
{{ a_record.name }} IN A {{ a_record.ip }}
{% endfor %}

